@model PokemonSimulation.Models.Abilitys

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Abilitys</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ability_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ability_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ability_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ability_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ability_Boost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ability_Boost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Ability">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
